#calendarDiv {
  width: fit-content;
  margin-top: 4rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
#plusButton {
  grid-column-start: 7;
  grid-column-end: 8;
}
#monthName {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
}
#minusButton {
  grid-column-start: 1;
  grid-column-end: 2;
}
.daySpan {
  padding: 0.5rem;
  background-color: rgba(153, 153, 153, 0.4);
  backdrop-filter: blur(0.25rem);
  border-radius: 0.375rem;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.042);
}
